.skin-blue .main-header .navbar {
    background-color: #1C2539
}

.skin-blue .main-header .navbar .nav > li > a {
    color: #fff
}

.skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav > .active > a,
.skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, .1);
    color: #f6f6f6
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #666
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #f5b44b;
    background-color: #1C2539
}

@media (max-width:767px) {
    .skin-blue .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, .1)
    }

    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #fff
    }

    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: #367fa9
    }
}

.skin-blue .main-header .logo {
    background-color: #1C2539;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue .main-header .logo:hover {
    background-color: #1C2539
}

.skin-blue .main-header li.user-header {
    background-color: #3c8dbc
}

.skin-blue .content-header {
    background: 0 0
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #1C2539
}

.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
    color: #fff
}

.skin-blue .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226
}

.skin-blue .sidebar-menu > li > a {
    border-left: 3px solid transparent
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #d7f27c
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.skin-blue .sidebar a {
    color: #b1b1b1
}

.skin-blue .sidebar a:hover {
    text-decoration: none
}

.skin-blue .treeview-menu > li > a {
    color: #8aa4af
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: #fff
}

.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px
}

.skin-blue .sidebar-form .btn, .skin-blue .sidebar-form input[type=text] {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px
}

.skin-blue .sidebar-form input[type=text] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.skin-blue .sidebar-form input[type=text]:focus, .skin-blue .sidebar-form input[type=text]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-blue .sidebar-form input[type=text]:focus + .input-group-btn .btn {
    border-left-color: #fff
}

.skin-blue .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

.skin-blue.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8
}

/* other css */
.content-wrapper {
    background-color: #F5F5F5
}

.well {
    background-color: #FFFFFF;
    border-color: steelblue;
    margin: 15px
}

/* tabPanel */
.nav-tabs {
    border-color: transparent;
}


.nav > li > a {
    padding-bottom: 0px
}

/* Active tabPanel */
.nav-tabs > li.active > a {
    font-weight: bold;
    color:#218dcc;
    background-color: #F5F5F5;
    border-color: transparent;
    border-bottom-color: #6B8E23;
    border-bottom-width: medium
}


.datatables {
    margin-left: 10px;
    width: 95%
}

.row {
    margin-left: 5px
}

.btn-primary-15 {
    color: white;
    background-color: #4682B4;
    padding-bottom: 15px;
    padding-top: 15px;
}


.btn-primary {
    color: white;
    background-color: #4682B4;
}

.important {color: firebrick}

.header {
    background-color: #F2F2F2;
    color: #36648B;
    margin: -20px;
    padding: 7px
}

.note {
    color: #999999
}

/* Busy indicator */
.btn-loading-container {
    margin-left: 10px;
    font-size: 1.2em;
    }

.btn-done-indicator {
    color: green;
}
.btn-err {
    margin-top: 10px;
    color: red;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

.fa-exclamation-triangle {
    color: orange;
}

.fa-info-circle {
    color: #218dcc;
}

.white {
    border-top: 1px solid white;
    margin-top: 5px
}
